main{
    background: #2e2e2e;
    width: 400px;
    padding: 10px;
    border-radius: 15px;
}

section{
    background-color: steelblue;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
}

#nope{
    color: red;
    font-weight: bold;
}